name: Build Android APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Fix gradlew line endings and permissions
      working-directory: ./android
      run: |
        sed -i 's/\r$//' gradlew
        chmod +x gradlew

    - name: Build with Gradle Wrapper
      working-directory: ./android
      run: ./gradlew assembleDebug -x lint --stacktrace --warning-mode all

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: android/app/build/outputs/apk/debug/app-debug.apk
